body {
  background: var(--background);
  color: var(--text-primary);
  margin: 0;
  padding: 20px;
  min-height: 100vh;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body[data-theme="light"] {
  --background: #ffffff;
  --gray100: #eaeaeb;
  --gray200: #cfcfd0;
  --gray300: #b1b1b4;
  --gray400: #939397;
  --gray500: #78797d;
  --gray600: #616267;
  --gray700: #4d4d54;
  --gray800: #3a3b42;
  --gray900: #202028;
  --green100: #bcf8c2;
  --green200: #49ec75;
  --green300: #1fcb5b;
  --green400: #23a94d;
  --green500: #248a41;
  --green600: #227036;
  --green700: #1f582c;
  --green800: #1b4323;
  --green900: #132516;
  --red100: #ffe4dc;
  --red200: #ffc1b0;
  --red300: #ff947c;
  --red400: #ff5c45;
  --red500: #ef1b1b;
  --red600: #c50f0f;
  --red700: #a00405;
  --red800: #7b0901;
  --red900: #411002;
  --blue100: #e1eaff;
  --blue200: #b9d0ff;
  --blue300: #83b2ff;
  --blue400: #2796ff;
  --blue500: #1d7bd3;
  --blue600: #2264a9;
  --blue700: #224e84;
  --blue800: #1f3c62;
  --blue900: #172134;
  --yellow100: #ffe993;
  --yellow200: #f8cb0e;
  --yellow300: #e1a814;
  --yellow400: #ca8517;
  --yellow500: #b06817;
  --yellow600: #8d5517;
  --yellow700: #704315;
  --yellow800: #543413;
  --yellow900: #2e1d0e;
  --orange100: #ffe5d2;
  --orange200: #ffc399;
  --orange300: #ff9750;
  --orange400: #f46900;
  --orange500: #d34d00;
  --orange600: #b33702;
  --orange700: #8c2e08;
  --orange800: #69250a;
  --orange900: #391808;
  --purple100: #f3e6fb;
  --purple200: #e2c5f5;
  --purple300: #ce9fee;
  --purple400: #b878e6;
  --purple500: #a154de;
  --purple600: #8b2dd7;
  --purple700: #6e28a6;
  --purple800: #53217b;
  --purple900: #2d173f;
  --teal100: #c6f2ed;
  --teal200: #36e6da;
  --teal300: #45c3ba;
  --teal400: #48a29a;
  --teal500: #44847e;
  --teal600: #3d6a66;
  --teal700: #355350;
  --teal800: #2a3f3c;
  --teal900: #192322;
  --border: rgba(58,59,66,0.15);
  --focus: #2796ff;
  --focusBorder: #2796ff;
  --focusInputBackground: rgba(34,100,169,0.1);
  --text-primary: #202028;
  --text-secondary: #616267;
  --background-gray: #616267;
  --background-gray-hover: rgb(93,94,99);
  --background-gray-active: rgb(88,89,94);
  --background-gray-muted: #eaeaeb;
  --background-gray-muted-alpha: rgba(147,147,151,0.2);
  --text-gray: #3a3b42;
  --text-on-background-gray: white;
  --background-green: #227036;
  --background-green-hover: rgb(28,107,50);
  --background-green-active: rgb(22,103,46);
  --background-green-muted: #bcf8c2;
  --background-green-muted-alpha: rgba(35,169,77,0.2);
  --text-green: #1b4323;
  --text-on-background-green: white;
  --background-red: #c50f0f;
  --background-red-hover: rgb(191,1,10);
  --background-red-active: rgb(185,0,6);
  --background-red-muted: #ffe4dc;
  --background-red-muted-alpha: rgba(255,92,69,0.2);
  --text-red: #7b0901;
  --text-on-background-red: white;
  --background-blue: #2264a9;
  --background-blue-hover: rgb(25,96,164);
  --background-blue-active: rgb(14,91,159);
  --background-blue-muted: #e1eaff;
  --background-blue-muted-alpha: rgba(39,150,255,0.2);
  --text-blue: #1f3c62;
  --text-on-background-blue: white;
  --background-yellow: #f8cb0e;
  --background-yellow-hover: rgb(242,198,0);
  --background-yellow-active: rgb(237,193,0);
  --background-yellow-muted: #ffe993;
  --background-yellow-muted-alpha: rgba(202,133,23,0.2);
  --text-yellow: #543413;
  --text-on-background-yellow: #2e1d0e;
  --background-orange: #ff9750;
  --background-orange-hover: rgb(249,146,75);
  --background-orange-active: rgb(244,141,71);
  --background-orange-muted: #ffe5d2;
  --background-orange-muted-alpha: rgba(244,105,0,0.2);
  --text-orange: #69250a;
  --text-on-background-orange: #391808;
  --background-purple: #8b2dd7;
  --background-purple-hover: rgb(134,39,210);
  --background-purple-active: rgb(128,33,205);
  --background-purple-muted: #f3e6fb;
  --background-purple-muted-alpha: rgba(184,120,230,0.2);
  --text-purple: #53217b;
  --text-on-background-purple: white;
  --background-teal: #3d6a66;
  --background-teal-hover: rgb(57,102,98);
  --background-teal-active: rgb(52,97,93);
  --background-teal-muted: #c6f2ed;
  --background-teal-muted-alpha: rgba(72,162,154,0.2);
  --text-teal: #2a3f3c;
  --text-on-background-teal: white;
  --hover: rgba(58,59,66,0.1);
  --active: rgba(58,59,66,0.2);
}

body[data-theme="dark"] {
  --background: #0d0d11;
  --gray100: #212129;
  --gray200: #33333b;
  --gray300: #48484e;
  --gray400: #5f5f65;
  --gray500: #77777c;
  --gray600: #8f9093;
  --gray700: #a9aaac;
  --gray800: #c4c4c6;
  --gray900: #e9e9ea;
  --green100: #142516;
  --green200: #1a3b20;
  --green300: #1e532a;
  --green400: #226d35;
  --green500: #248840;
  --green600: #24a54c;
  --green700: #21c358;
  --green800: #19e264;
  --green900: #bdf8c3;
  --red100: #421002;
  --red200: #6a0e02;
  --red300: #970202;
  --red400: #c00d0e;
  --red500: #eb1a1a;
  --red600: #ff543f;
  --red700: #ff8870;
  --red800: #ffb29f;
  --red900: #ffe4dd;
  --blue100: #172132;
  --blue200: #1e3455;
  --blue300: #22497b;
  --blue400: #2261a4;
  --blue500: #1e79d0;
  --blue600: #0b93fe;
  --blue700: #74abff;
  --blue800: #a8c5ff;
  --blue900: #e1eaff;
  --yellow100: #2e1e0e;
  --yellow200: #4a2e12;
  --yellow300: #693f15;
  --yellow400: #8a5217;
  --yellow500: #ad6617;
  --yellow600: #c78117;
  --yellow700: #dc9f15;
  --yellow800: #f0be11;
  --yellow900: #ffe997;
  --orange100: #381808;
  --orange200: #5b220a;
  --orange300: #832c09;
  --orange400: #ad3603;
  --orange500: #d04b00;
  --orange600: #ef6600;
  --orange700: #ff8b3c;
  --orange800: #ffb481;
  --orange900: #ffe5d3;
  --purple100: #2d163e;
  --purple200: #491f6b;
  --purple300: #66269b;
  --purple400: #872cd1;
  --purple500: #9f51de;
  --purple600: #b574e5;
  --purple700: #c995ec;
  --purple800: #dcb8f3;
  --purple900: #f3e5fb;
  --teal100: #1a2322;
  --teal200: #263735;
  --teal300: #324e4b;
  --teal400: #3c6763;
  --teal500: #44817c;
  --teal600: #489d96;
  --teal700: #46bcb2;
  --teal800: #3ddacf;
  --teal900: #c9f2ee;
  --border: rgba(196,196,198,0.15);
  --focus: #2261a4;
  --focusBorder: #2261a4;
  --focusInputBackground: rgba(11,147,254,0.1);
  --text-primary: #e9e9ea;
  --text-secondary: #8f9093;
  --background-gray: #48484e;
  --background-gray-hover: rgb(68,68,74);
  --background-gray-active: rgb(64,64,70);
  --background-gray-muted: #212129;
  --background-gray-muted-alpha: rgba(95,95,101,0.2);
  --text-gray: #c4c4c6;
  --text-on-background-gray: white;
  --background-green: #1e532a;
  --background-green-hover: rgb(25,79,38);
  --background-green-active: rgb(20,74,34);
  --background-green-muted: #142516;
  --background-green-muted-alpha: rgba(34,109,53,0.2);
  --text-green: #19e264;
  --text-on-background-green: white;
  --background-red: #970202;
  --background-red-hover: rgb(146,0,0);
  --background-red-active: rgb(140,0,0);
  --background-red-muted: #421002;
  --background-red-muted-alpha: rgba(192,13,14,0.2);
  --text-red: #ffb29f;
  --text-on-background-red: white;
  --background-blue: #22497b;
  --background-blue-hover: rgb(28,69,118);
  --background-blue-active: rgb(22,65,114);
  --background-blue-muted: #172132;
  --background-blue-muted-alpha: rgba(34,97,164,0.2);
  --text-blue: #a8c5ff;
  --text-on-background-blue: white;
  --background-yellow: #dc9f15;
  --background-yellow-hover: rgb(214,154,12);
  --background-yellow-active: rgb(209,150,0);
  --background-yellow-muted: #2e1e0e;
  --background-yellow-muted-alpha: rgba(138,82,23,0.2);
  --text-yellow: #f0be11;
  --text-on-background-yellow: #2e1e0e;
  --background-orange: #ef6600;
  --background-orange-hover: rgb(233,97,0);
  --background-orange-active: rgb(227,92,0);
  --background-orange-muted: #381808;
  --background-orange-muted-alpha: rgba(173,54,3,0.2);
  --text-orange: #ffb481;
  --text-on-background-orange: #381808;
  --background-purple: #66269b;
  --background-purple-hover: rgb(97,33,150);
  --background-purple-active: rgb(92,28,145);
  --background-purple-muted: #2d163e;
  --background-purple-muted-alpha: rgba(135,44,209,0.2);
  --text-purple: #dcb8f3;
  --text-on-background-purple: white;
  --background-teal: #324e4b;
  --background-teal-hover: rgb(46,74,71);
  --background-teal-active: rgb(42,70,67);
  --background-teal-muted: #1a2322;
  --background-teal-muted-alpha: rgba(60,103,99,0.2);
  --text-teal: #3ddacf;
  --text-on-background-teal: white;
  --hover: rgba(196,196,198,0.1);
  --active: rgba(196,196,198,0.2);
}

@media (prefers-color-scheme: dark) {
  body {
    --background: #0d0d11;
    --gray100: #212129;
    --gray200: #33333b;
    --gray300: #48484e;
    --gray400: #5f5f65;
    --gray500: #77777c;
    --gray600: #8f9093;
    --gray700: #a9aaac;
    --gray800: #c4c4c6;
    --gray900: #e9e9ea;
    --green100: #142516;
    --green200: #1a3b20;
    --green300: #1e532a;
    --green400: #226d35;
    --green500: #248840;
    --green600: #24a54c;
    --green700: #21c358;
    --green800: #19e264;
    --green900: #bdf8c3;
    --red100: #421002;
    --red200: #6a0e02;
    --red300: #970202;
    --red400: #c00d0e;
    --red500: #eb1a1a;
    --red600: #ff543f;
    --red700: #ff8870;
    --red800: #ffb29f;
    --red900: #ffe4dd;
    --blue100: #172132;
    --blue200: #1e3455;
    --blue300: #22497b;
    --blue400: #2261a4;
    --blue500: #1e79d0;
    --blue600: #0b93fe;
    --blue700: #74abff;
    --blue800: #a8c5ff;
    --blue900: #e1eaff;
    --yellow100: #2e1e0e;
    --yellow200: #4a2e12;
    --yellow300: #693f15;
    --yellow400: #8a5217;
    --yellow500: #ad6617;
    --yellow600: #c78117;
    --yellow700: #dc9f15;
    --yellow800: #f0be11;
    --yellow900: #ffe997;
    --orange100: #381808;
    --orange200: #5b220a;
    --orange300: #832c09;
    --orange400: #ad3603;
    --orange500: #d04b00;
    --orange600: #ef6600;
    --orange700: #ff8b3c;
    --orange800: #ffb481;
    --orange900: #ffe5d3;
    --purple100: #2d163e;
    --purple200: #491f6b;
    --purple300: #66269b;
    --purple400: #872cd1;
    --purple500: #9f51de;
    --purple600: #b574e5;
    --purple700: #c995ec;
    --purple800: #dcb8f3;
    --purple900: #f3e5fb;
    --teal100: #1a2322;
    --teal200: #263735;
    --teal300: #324e4b;
    --teal400: #3c6763;
    --teal500: #44817c;
    --teal600: #489d96;
    --teal700: #46bcb2;
    --teal800: #3ddacf;
    --teal900: #c9f2ee;
    --border: rgba(196,196,198,0.15);
    --focus: #2261a4;
    --focusBorder: #2261a4;
    --focusInputBackground: rgba(11,147,254,0.1);
    --text-primary: #e9e9ea;
    --text-secondary: #8f9093;
    --background-gray: #48484e;
    --background-gray-hover: rgb(68,68,74);
    --background-gray-active: rgb(64,64,70);
    --background-gray-muted: #212129;
    --background-gray-muted-alpha: rgba(95,95,101,0.2);
    --text-gray: #c4c4c6;
    --text-on-background-gray: white;
    --background-green: #1e532a;
    --background-green-hover: rgb(25,79,38);
    --background-green-active: rgb(20,74,34);
    --background-green-muted: #142516;
    --background-green-muted-alpha: rgba(34,109,53,0.2);
    --text-green: #19e264;
    --text-on-background-green: white;
    --background-red: #970202;
    --background-red-hover: rgb(146,0,0);
    --background-red-active: rgb(140,0,0);
    --background-red-muted: #421002;
    --background-red-muted-alpha: rgba(192,13,14,0.2);
    --text-red: #ffb29f;
    --text-on-background-red: white;
    --background-blue: #22497b;
    --background-blue-hover: rgb(28,69,118);
    --background-blue-active: rgb(22,65,114);
    --background-blue-muted: #172132;
    --background-blue-muted-alpha: rgba(34,97,164,0.2);
    --text-blue: #a8c5ff;
    --text-on-background-blue: white;
    --background-yellow: #dc9f15;
    --background-yellow-hover: rgb(214,154,12);
    --background-yellow-active: rgb(209,150,0);
    --background-yellow-muted: #2e1e0e;
    --background-yellow-muted-alpha: rgba(138,82,23,0.2);
    --text-yellow: #f0be11;
    --text-on-background-yellow: #2e1e0e;
    --background-orange: #ef6600;
    --background-orange-hover: rgb(233,97,0);
    --background-orange-active: rgb(227,92,0);
    --background-orange-muted: #381808;
    --background-orange-muted-alpha: rgba(173,54,3,0.2);
    --text-orange: #ffb481;
    --text-on-background-orange: #381808;
    --background-purple: #66269b;
    --background-purple-hover: rgb(97,33,150);
    --background-purple-active: rgb(92,28,145);
    --background-purple-muted: #2d163e;
    --background-purple-muted-alpha: rgba(135,44,209,0.2);
    --text-purple: #dcb8f3;
    --text-on-background-purple: white;
    --background-teal: #324e4b;
    --background-teal-hover: rgb(46,74,71);
    --background-teal-active: rgb(42,70,67);
    --background-teal-muted: #1a2322;
    --background-teal-muted-alpha: rgba(60,103,99,0.2);
    --text-teal: #3ddacf;
    --text-on-background-teal: white;
    --hover: rgba(196,196,198,0.1);
    --active: rgba(196,196,198,0.2);
  }
}
@media (prefers-color-scheme: light) {
  body {
    --background: #ffffff;
    --gray100: #eaeaeb;
    --gray200: #cfcfd0;
    --gray300: #b1b1b4;
    --gray400: #939397;
    --gray500: #78797d;
    --gray600: #616267;
    --gray700: #4d4d54;
    --gray800: #3a3b42;
    --gray900: #202028;
    --green100: #bcf8c2;
    --green200: #49ec75;
    --green300: #1fcb5b;
    --green400: #23a94d;
    --green500: #248a41;
    --green600: #227036;
    --green700: #1f582c;
    --green800: #1b4323;
    --green900: #132516;
    --red100: #ffe4dc;
    --red200: #ffc1b0;
    --red300: #ff947c;
    --red400: #ff5c45;
    --red500: #ef1b1b;
    --red600: #c50f0f;
    --red700: #a00405;
    --red800: #7b0901;
    --red900: #411002;
    --blue100: #e1eaff;
    --blue200: #b9d0ff;
    --blue300: #83b2ff;
    --blue400: #2796ff;
    --blue500: #1d7bd3;
    --blue600: #2264a9;
    --blue700: #224e84;
    --blue800: #1f3c62;
    --blue900: #172134;
    --yellow100: #ffe993;
    --yellow200: #f8cb0e;
    --yellow300: #e1a814;
    --yellow400: #ca8517;
    --yellow500: #b06817;
    --yellow600: #8d5517;
    --yellow700: #704315;
    --yellow800: #543413;
    --yellow900: #2e1d0e;
    --orange100: #ffe5d2;
    --orange200: #ffc399;
    --orange300: #ff9750;
    --orange400: #f46900;
    --orange500: #d34d00;
    --orange600: #b33702;
    --orange700: #8c2e08;
    --orange800: #69250a;
    --orange900: #391808;
    --purple100: #f3e6fb;
    --purple200: #e2c5f5;
    --purple300: #ce9fee;
    --purple400: #b878e6;
    --purple500: #a154de;
    --purple600: #8b2dd7;
    --purple700: #6e28a6;
    --purple800: #53217b;
    --purple900: #2d173f;
    --teal100: #c6f2ed;
    --teal200: #36e6da;
    --teal300: #45c3ba;
    --teal400: #48a29a;
    --teal500: #44847e;
    --teal600: #3d6a66;
    --teal700: #355350;
    --teal800: #2a3f3c;
    --teal900: #192322;
    --border: rgba(58,59,66,0.15);
    --focus: #2796ff;
    --focusBorder: #2796ff;
    --focusInputBackground: rgba(34,100,169,0.1);
    --text-primary: #202028;
    --text-secondary: #616267;
    --background-gray: #616267;
    --background-gray-hover: rgb(93,94,99);
    --background-gray-active: rgb(88,89,94);
    --background-gray-muted: #eaeaeb;
    --background-gray-muted-alpha: rgba(147,147,151,0.2);
    --text-gray: #3a3b42;
    --text-on-background-gray: white;
    --background-green: #227036;
    --background-green-hover: rgb(28,107,50);
    --background-green-active: rgb(22,103,46);
    --background-green-muted: #bcf8c2;
    --background-green-muted-alpha: rgba(35,169,77,0.2);
    --text-green: #1b4323;
    --text-on-background-green: white;
    --background-red: #c50f0f;
    --background-red-hover: rgb(191,1,10);
    --background-red-active: rgb(185,0,6);
    --background-red-muted: #ffe4dc;
    --background-red-muted-alpha: rgba(255,92,69,0.2);
    --text-red: #7b0901;
    --text-on-background-red: white;
    --background-blue: #2264a9;
    --background-blue-hover: rgb(25,96,164);
    --background-blue-active: rgb(14,91,159);
    --background-blue-muted: #e1eaff;
    --background-blue-muted-alpha: rgba(39,150,255,0.2);
    --text-blue: #1f3c62;
    --text-on-background-blue: white;
    --background-yellow: #f8cb0e;
    --background-yellow-hover: rgb(242,198,0);
    --background-yellow-active: rgb(237,193,0);
    --background-yellow-muted: #ffe993;
    --background-yellow-muted-alpha: rgba(202,133,23,0.2);
    --text-yellow: #543413;
    --text-on-background-yellow: #2e1d0e;
    --background-orange: #ff9750;
    --background-orange-hover: rgb(249,146,75);
    --background-orange-active: rgb(244,141,71);
    --background-orange-muted: #ffe5d2;
    --background-orange-muted-alpha: rgba(244,105,0,0.2);
    --text-orange: #69250a;
    --text-on-background-orange: #391808;
    --background-purple: #8b2dd7;
    --background-purple-hover: rgb(134,39,210);
    --background-purple-active: rgb(128,33,205);
    --background-purple-muted: #f3e6fb;
    --background-purple-muted-alpha: rgba(184,120,230,0.2);
    --text-purple: #53217b;
    --text-on-background-purple: white;
    --background-teal: #3d6a66;
    --background-teal-hover: rgb(57,102,98);
    --background-teal-active: rgb(52,97,93);
    --background-teal-muted: #c6f2ed;
    --background-teal-muted-alpha: rgba(72,162,154,0.2);
    --text-teal: #2a3f3c;
    --text-on-background-teal: white;
    --hover: rgba(58,59,66,0.1);
    --active: rgba(58,59,66,0.2);
  }
}