* {
  transition-duration: .5s;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: var(--text-primary);
}

.focus {
  outline: none;
  box-shadow: 0 0 0 0px var(--focus);
  transition: box-shadow .2s;
  &:focus {
    box-shadow: 0 0 0 3px var(--focus);
  }
}

input[type='text'] {
  border: 1px solid var(--border);
  padding: 12px 16px;
  border-radius: 6px;
  font-size: 14px;
  background: var(--background);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
  transition: background .5s;
  margin-right: 10px;

  @extend .focus;

  &:focus {
    border-color: var(--focusBorder);
    background: var(--focusInputBackground);
  }
}

.block {
  width: 100px;
  height: 100px;
  border-radius: 16px;
  background: var(--gray300);
  
  &:hover {
    background: var(--background-gray-hover);
  }

  &:active {
    background: var(--background-gray-active);
  }
}

select {
  --alpha: .1;
  background: transparent;
  border: 1px solid var(--border);
  padding: 12px 16px;
  border-radius: 6px;
  font-size: 16px;
  color: var(--text-primary);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;

  @extend .focus;

  &:hover {
    background: var(--hover);
  }

  &:active {
    background: var(--active);
  }
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

p {
  line-height: 1.5em;
  font-size: 18px;
}